* {
    box-sizing: border-box;
    /* border: 1px solid rebeccapurple; */
}

/* div {
    height: 100px;
} */


#left-column {
    height: 700px;
}

#nav-title{
    color: whitesmoke;
    font-size: 20px;
}

#qstDiv {
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    border: 1px solid rebeccapurple;

}

#ansDiv {
    height: 400px;
    padding: 30px 0;
    margin: 0 auto;
    /* border: 1px solid rebeccapurple; */
    background-image: url("/assets/images/Star-Wars-Wallpaper-HD-For-Desktop.jpg");


}



#start {
    text-align: center;
    height: 60px;
    width: auto;
    position: relative;
    margin: 0 auto;
    top: 100px;
}

#right-column {
    height: 200px;
}

p {
    height: auto;
    width: auto;
}

.answer-text {
    float: left;
    height: 30px;
    width: auto;
}
